persistence:
  enabled: true
  size: 2Gi
  storageClass: openebs-hostpath

memcached:
  enabled: true

postgresql:
  enabled: true
  persistence:
    enabled: true
    storageClass: openebs-hostpath
    size: 5Gi

mysql:
  enabled: false

mariadb:
  enabled: false

gitea:
  config:
    repository:
      DEFAULT_PRIVATE: private
    security:
      INSTALL_LOCK: true
    server:
      SSH_PORT: 4022
    service:
      DISABLE_REGISTRATION: true
