controller:
  resources:
    requests:
      cpu: 0.1
      memory: 256Mi
  kind: DaemonSet
  hostNetwork: true
  service:
    type: ""
  metrics:
    enabled: false
  config:
    enable-real-ip: "true"
    use-forwarded-headers: "false"

tcp:
  4022: "gitea/gitea-ssh:22"
