global:
  storageClass: openebs-hostpath

auth:
  adminUser: keycloak

proxyAddressForwarding: true

service:
  type: ClusterIP

postgresql:
  enabled: false

externalDatabase:
  host: postgresql.postgresql.svc.cluster.local
  port: 5432
  user: keycloak
  database: keycloak
