global:
  storageClass: openebs-hostpath

auth:
  enablePostgresUser: true
  postgresPassword: postgres

architecture: standalone

primary:
  initdb:
    scriptsConfigMap: scripts-initdb
  persistence:
    enabled: true
    size: 8Gi
